<div class="">
  <h1>{{title}}</h1>
  <h4>{{author}}</h4>
  <p>
    {{description}}
  </p>
  <a href="{{amazon_product_url}}">Buy on Amazon</a>
</div>
<!-- <aside>
  <img src="{{book_image}}"/>
</aside> -->
